<section id="others_intro">
  <div class="grid-container">
    <div class="grid-40">
      <h1>Help | FAQs</h1>
    </div>

  </div>
</section>

<section id="others_contents">
  <div class="grid-container">
    <div class="grid-90 push-5">

      <div class="ui raised segment">
        <h4 class="ui header dash_header">Playing FastPlay24 is as easy as riding a bike. I know right?</h4>

        <div class="ui styled fluid accordion" id="faq">

          <div class="title active">
            <i class="dropdown icon"></i> General Instructions
          </div>
          <div class="content active">
            <p class="transition visible" style="display: block !important;">
              Simply <a href="/register" target="_self">sign up</a>, <a href="/login" target="_self">log in</a>, verify your email address, fund your account (pay online, make a bank deposit or a wire transfer) and when the “Join Game” button appears, join the game and answer ten
              (10) questions within ten (10) minutes to win instant cash prizes. Time is money. The earlier you join a game session, the better your chances of winning big. You can skip a question and return to it so long as the 10 minute timeline hasn’t
              elapsed.
            </p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> Cost Per Game Session
          </div>
          <div class="content">
            <p class="transition hidden">
              One game cost thirty five naira (N35) only.
            </p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> Speed and Accuracy is the key
          </div>
          <div class="content">
            <p class="transition hidden">
              The game test’s you on speed and accuracy. Meaning, you have to think fast and answer all questions correctly in time. That’s why we named it FastPlay24. The number of winners is ten percent (10%) of the total number of players per session. The first
              set of people to get all answers correctly will win the prize money. All players, both winners and losers get a five naira (N5) bonus for any game played. The game runs twenty-four hours (24 hours) seven (7) days of the week. There is a
              20 minute interval between each game. So that you can take a break because we know you need to do other things and also rest.
            </p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> The Structure of the Game
          </div>
          <div class="content">
            <p class="transition hidden">
              We designed the game in such a way that each session can accommodate a minimum of one (1) player and a limitless number of players. <a href="/demo-play" target="_self">Click here</a> to play the Demo. If there is only one user at the end of a game session, the session is declared null and the
              user gets a full refund of the N35 that can be used for another game session.
            </p>
            <p class="transition hidden">
              A player can join a game only within the ten (10) minute timeline.
            </p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> How much can I win in a Game session?
          </div>
          <div class="content">
            <p class="transition hidden">In each game session you can win a up to fifteen thousand naira (N15, 000 or more) if the session has exactly 10,000 players at the end of the game and if you are the first to answer all ten (10) questions correctly within the stipulated time
              and a minimum of five naira (N5) whether you finish last or get all answers correctly or not. This five naira (N5) bonus goes to all players. The system dynamically calculates your expected Earnings and displays
              it to you at the end of the game session. The earlier you finish up the higher your chances of winning big. More players can still join the game after you have answered all ten questions so long as the ten minute session has not elapsed.
              This has an effect on your Earnings, as there are chances of it increasing or reducing minimally, depending on the number of players at the end of the game.</p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> What questions am I asked?
          </div>
          <div class="content">
            <p class="transition hidden">
              All questions are simple and are general knowledge based with no special preference to any class of people. They are randomly generated from the database. The questions displayed to all users may differ in type and order.
            </p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> Do I get life lines?
          </div>
          <div class="content">
            <p class="transition hidden">
              <div class="ui compact segment">
                <div class="ui compact menu">
                  <a class="item">
                    50/50
                    <div class="floating ui red label">1</div>
                  </a>
                </div>
                <div class="ui compact menu">
                  <a class="item" style="background:#21BA45; color: white;">
                    CHANGE QUESTION
                    <div class="floating ui teal label">1</div>
                  </a>
                </div>
              </div>
            </p>
            <p class="transition hidden">
              We know it is an internet based game and users participate remotely. We know you will ask your friends and Google for assistance, so there’s no need to list that in our “don’ts”. We think it is not out of place for you to do that. Even if we discourage
              the use of assistance we know you’ll disobey anyway. Just like that famous game, you get two major lifelines;
              <ol>
                <li><strong> 50/50:</strong> The system eliminates two wrong answers and leaves you with one wrong and the correct answer </li>
                <li><strong>Change question:</strong> If you do not know the answer to a question, you can ask the system to generate another one to replace the one you couldn’t answer. </li>
              </ol>
            </p>
            <p class="transition hidden">
              You only get one chance each to use both lifelines per game, so use them wisely. The lifelines are represented by the symbols above respectively.
            </p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> What happens if my game gets interrupted?
          </div>
          <div class="content">
            <p class="transition hidden">
              Peradventure, you mistakenly logged out or somehow your session was terminated due to device error or internet disconnections when you haven’t completed the game, you can always log back in to continue from where you stopped, so long as the 10 minute
              session hasn’t elapsed, and sufficient winners haven’t emerged, otherwise, you will only earn N5.
            </p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> How many winners can emerge and how is the Earnings shared?
          </div>
          <div class="content">
            <p class="transition hidden">
              The number of expected winners in each game session is 10% of the total number of players that joined the session.
            </p>
            <p class="transition hidden">
              The value of each Game Credit is N25. All players get a five naira bonus, whether they win or lose. We charge N5 per game. That sums it up to the N35 that will deducted from your wallet at the beginning of the game.
            </p>
            <p class="transition hidden">
              We don’t want to bore you with calculations; we know most of you dread mathematics. Let’s just use this simple example to set you straight.
            </p>
            <p class="transition hidden">
              <table class="ui compact celled definition table">
                <thead>
                  <tr>
                    <th></th>
                    <th colspan="2">Game Session</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>No. of players</td>
                    <td>10, 000 (All players get N5 bonus each)</td>
                  </tr>
                  <tr>
                    <td>No. of winners (10%)</td>
                    <td>1, 000</td>
                  </tr>
                  <tr>
                    <td>No. of losers (90%)</td>
                    <td>9, 000</td>
                  </tr>
                  <tr>
                    <td>Total Prize money</td>
                    <td>N300, 000 (N5 bonus inclusive)</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>First Winner</td>
                    <td>N15, 000 (N5 bonus inclusive)</td>
                  </tr>
                  <tr>
                    <td>Second Winner</td>
                    <td>N14, 101 (N5 bonus inclusive)</td>
                  </tr>
                  <tr>
                    <td>Third Winner</td>
                    <td>N13, 255 (N5 bonus inclusive)</td>
                  </tr>
                  <tr>
                    <td>Fourth Winner</td>
                    <td>N12, 460 (N5 bonus inclusive)</td>
                  </tr>
                  <tr>
                    <td>Fifth Winner</td>
                    <td>N11, 713 (N5 bonus inclusive)</td>
                  </tr>
                  <tr>
                    <td>Sixth Winner</td>
                    <td>N11, 011 (N5 bonus inclusive)</td>
                  </tr>
                  <tr>
                    <td>Seventh Winner</td>
                    <td>N10, 351 (N5 bonus inclusive)</td>
                  </tr>
                </tbody>
              </table>
            </p>
            <p class="transition hidden">
              And the list goes on.
              <br>
              <br>
              <a href="/calculator" target="_self">
                <button class="ui right labeled purple icon button">
                  Try the Earnings Calculator
                  <i class="calculator icon"></i>
                </button>
              </a>
              <br>
              <br> Please note that as the value of the prize money decreases down the positions, one may win as low as N5 (bonus inclusive) even if he/she is among the 10% champions. This is because as the Earnings decrease down the formula,
              it gets to the zero mark. Therefore, all that will be left is the N5 bonus.
            </p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> Referral Program
          </div>
          <div class="content">
            <p class="transition hidden">
              You can take part in the referral program by inviting your friends to join FastPlay24 and get N1 bonus for each game they play. That means if you refer 50 people and each of them play at least 20 times every day you will be earning up N1000 per day. To
              refer them simply send them your referral link (e.g., https://www.fastplay24.com/register/ref/-103940494) from your profile. You can share via Facebook, Black Berry Messenger, WhatsApp, Hangouts, Email, Twitter, Instagram or any other platform(s).
              So long as they register via your link you get paid whenever they play a game. The more invites you send the more people are likely to register and the more money you will make. Top referrers also get extra cash bonuses from us at intervals.
            </p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> Withdrawals
          </div>
          <div class="content">
            <p class="transition hidden">
              <button class="ui compact violet button">
                <i class="icon credit card amazon pay"></i>
                Transfer Earnings
              </button>
            </p>
            <p class="transition hidden">
              First of all, to withdraw your earnings, you must hit the “Transfer Earnings” button to transfer your funds to your wallet. The minimum amount you can withdraw is N150 (N50 charge inclusive). Any withdrawal request below one thousand naira (N1, 000) will
              be sent to your registered phone number in form of airtime and will attract a fifty naira (N50) convenience fee, while withdrawal requests starting at one thousand one hundred naira (N1, 100) to N4, 999 will be sent to your registered bank
              account and will attract a hundred naira (N100) convenience fee. The charge is based on the amount to be withdrawn. For an additional N5, 000 withdrawn, an additional N50 is added to your charges.
            </p>

            <p class="transition hidden">
              <table class="ui compact celled table">
                <thead>
                  <tr>
                    <th>Range (₦)</th>
                    <th>Charges (₦)</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>150 – 1,099 </td>
                    <td>50</td>
                    <td>Airtime</td>
                  </tr>
                  <tr>
                    <td>1,100 – 4,999 </td>
                    <td>100</td>
                    <td>Cash</td>
                  </tr>
                  <tr>
                    <td>5,000 – 9,999 </td>
                    <td>150</td>
                    <td>Cash</td>
                  </tr>
                  <tr>
                    <td>10,000 – 14,999</td>
                    <td>200</td>
                    <td>Cash</td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3">And the list goes on.</td>
                  </tr>
                </tfoot>
              </table>
            </p>
            <p class="transition hidden">
              All payment requests made between Mondays - Thursdays may be processed within forty-eight hours (48 hrs.), while those made between Fridays - Sundays may be processed within 96 hours. However, these are worse case scenarios, as payments could be processed
              earlier than that. If you do not receive your payment within this time frame kindly shoot a note to hello@fastplay24.com. Ensure your phone number and bank account number and account name are correct. We won’t be liable for any transfers
              made if you provide inaccurate information. Your profile must be duly updated and account verified for you to be able to receive payments.
            </p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> Payment Charges
          </div>
          <div class="content">
            <p class="transition hidden">
              <ol type="a">
                <li>Credits Purchased via online payment - 1.5% of cost. Your bank may also charge extra.</li>
                <li>Credits Purchased via bank deposit or wire transfer (Extra charges may be determined by your bank)</li>
              </ol>
            </p>
            <p class="transition hidden">
              Payment option a) will confirmed by the payment gateway and the server immediately while option b) is verified between 30 minutes to 24 hours of payment depending on when we receive the payment.
            </p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> Game Schedule
          </div>
          <div class="content">
            <p class="transition hidden">
              The first game of everyday is scheduled to start at 12 midnight and end at 12:10am.
            </p>
            <p class="transition hidden">
              The second game of everyday is scheduled to start at 12:30 am and end at 12:40am.
            </p>
            <p class="transition hidden">
              The interval continues in that order. Meaning a game starts at the hour mark and runs for 10 minutes, followed by a 20 minute break. While the next game starts at the half hour mark and also run for 10 minutes followed by another 20 minute break. It continues
              in that sequence.
            </p>
          </div>

          <div class="title">
            <i class="dropdown icon"></i> Conclusion
          </div>
          <div class="content">
            <p class="transition hidden">
              To participate in this game, you must be at least sixteen (16) years of age and possess a personal bank account.
            </p>
            <p class="transition hidden">
              Please bear in mind that FastPlay24 is just an intellectual challenge designed to help you have fun and learn. Always fund your wallet with your spare money and control your use of this platform. Your use of FastPlay24 indicates that you agree with our
              terms of use and privacy policy. If you do not agree with them you are advised to discontinue the use of the platform.
            </p>
            <p class="transition hidden">
              We are not savages; if you have any suggestions on how we can improve your user experience; do not hesitate to reach us via email, <a href="mailto:hello@fastplay24.com">hello@fastplay24.com.</a>
            </p>
          </div>

          <div class="ui basic segment">
            <h3>Cheers</h3>
            <p>Your buddies at FastPlay24.</p>
            <p><i>Last updated on 5/18/2018 12:39:09 PM</i></p>
          </div>

        </div>

      </div>

    </div>
  </div>
</section>
