<section id="others_intro">
  <div class="grid-container">
    <div class="grid-40">
      <h1>{{ title }}</h1>
    </div>

  </div>
</section>

<section id="others_contents">
  <div class="grid-container">
    <div class="grid-90 push-5">

      <div class="ui raised segment">
        <h2 class="ui header dash_header">Introduction</h2>
        <p>Welcome to Fastplay24.com. We offer you a global portfolio online skilled based gaming product and services.</p>
        <p>Fastplay24.com is a Web Gaming Service of Tcom Wireless Nigeria, a startup duly registered on 14th April 2015 under the COMPANIES AND ALLIED MATTERS ACT 1990 of Nigeria with Business Registration No. BN2340415, and having its registered office
          and business address at 291, Warri/Sapele road, Warri. Delta State. Nigeria. </p>
        <p>FastPlay24 is a game of skill platform and makes it legal in Nigeria. According to section 236, sub section 2 of the criminal code act; In this section, "unlawful gaming" includes roulette, every game of dice except backgammon, every game of cards
          which is not a game of skill, the game known as chacha and other games of cowries, and any game the chances of which are not alike favorable to all the players including the banker or other person or persons by whom the game is managed or against
          whom the other players stake, play.</p>
        <p>A game of skill is a game where the outcome is determined mainly by mental and/or physical skill, rather than chance. A game of skill generally has an element of chance, but skill plays a greater role in determining the outcome.</p>
        <p>These General Terms and Conditions apply to all Fastplay24 users playing on all our platforms which include the website the mobile application. We provide an online platform for online skill based gaming to all duly registered customers. </p>
        <p>By using and/or visiting any section (including sub-domains) of the Fastplay24.com website or any other applications (like the mobile) that we own and/or registering on the website, you agree to be bound by</p>

        <ul>
          <li>i. These Terms and Conditions;</li>
          <li>ii. Our Privacy Policy;</li>
          <li>iii. The Rules applicable to our gaming products are deemed to have been accepted and understood with all Terms.</li>
        </ul>

        <p>Please read the Terms carefully and if you do not accept the Terms, do not use the Website or mobile platform. The Terms shall also apply to gaming via mobile devices including downloadable applications to a mobile device (as if references to
          your use of the website were references to your use of our mobile devices gaming facilities:</p>

        <ol class="ui ordered list">
          <li>By agreeing to these terms and conditions and/or continued use of the website platform, the mobile platform (applications) you are bound by the entirety of this agreement and by our 'Rules and 'Privacy Policy' that are incorporated by reference
            into these Terms and Conditions. If there is any inconsistency between these Terms and Conditions and any document incorporated by reference, these Terms and Conditions will prevail.</li>
          <li>If we make significant changes to these Terms and Conditions, we will take appropriate steps to bring such changes to your attention. Notification will be by placing it in a prominent position on our website. It is your responsibility to check
            our site from time to time to check for any changes in our Terms and Conditions and Privacy policy to ensure that you agree with them. Your continued use of our services is deemed to be acceptance of these conditions. Games that commenced
            before amendment will be subject to the preexisting conditions. Games that commenced after amendment will be subject to the amended conditions.</li>
          <li>3. All applicants must be at least 18 years of age to play or register with Fastplay24 and we reserve the right to ask for proof of age from any customer and suspend their account until satisfactory documentation is provided.</li>
          <li>4. Fastplay24 takes its responsibilities in respect of under age and responsible gaming very seriously as the money used in gaming must always be the money that the player can afford to lose.</li>
          <li>5. You agree to provide all required information on registration. This information must be accurate and we must be informed of any change in details. </li>
          <li>6. It is illegal to use and/or abuse an error or an instance of incompleteness on the Client application, and/or in any of the Software and/or Services provided by Fastplay24. Should the customer detect or become aware of such an error or incompleteness,
            they shall:
            <ul class="list">
              <li class="item">refrain from taking any advantage whatsoever thereof;</li>
              <li class="item">keep strictly confidential such error or incompleteness;</li>
              <li class="item">upon detection or becoming aware of such error or incompleteness notify Fastplay24 immediately.</li>
            </ul>
          </li>
          <li>7. You authorize us to use any means necessary at any time to verify your identity and any information that you have provided us about yourself.</li>
          <li>8. You agree to inform us of any errors that might have occurred on computations or system malfunction regarding games that you have initiated. We reserve the right to declare null and void any games that might have been initialized subject
            to such errors.</li>
          <li>9. Online customers will receive confirmation by electronic mail of their accounts after registration.</li>
          <li>10. You agree to keep your username, password and security details strictly confidential. You should change your passwords on a regular basis, and never disclose to any third party. Nobody at FastPlay24 or Tcom Wireless will request such information
            from you. We will assume that any transaction carried out on your account is by you and notifications will be sent to electronic mails that you have provided. You should protect your usernames and passwords as cash in your pocket, failure
            to do so is at your risk and expense.</li>
          <li>11. Online users must promptly inform us if their account is being used by a third party or its security has been compromised in any way. Such account will be subsequently suspended.</li>
          <li>12. Online customer must never use Fastplay24 account for trading on behalf of third parties. Contravention will attract closure of such account. We will not be liable to any third party, where such abuse has occurred.</li>
          <li>13. Where you play any game using the Website, you accept and agree to be bound by, the Rules which apply to the applicable products available on the website from time to time.</li>
          <li>14. We may need to change the Terms from time to time for a number of reasons (including complying with applicable laws and regulations, and regulatory requirements). Any minor or insubstantial changes may be made at any time and you are advised
            to review the Terms on a regular basis. The most up to date Terms will be available on the Website. All major changes will be notified to you in advance of such changes taking effect. If any change is unacceptable to you, you should cease
            using the website and/or close your account. If, however, you continue to use the after the date on which the changes to the Terms come into effect, you will be deemed to have accepted those changes.</li>

          <li>15. All information supplied when registering with the site MUST be accurate and complete in all respects. In particular, if using a credit or debit card, the cardholder's name MUST be the same as the name used when registering with the website
            Where this is not the case, the relevant account will be suspended. Where an account is suspended, the relevant customer should Contact Us. All price monies that are unclaimed prior to an account being suspended will be forfeited or retrievable
            as we deem fit.
          </li>
          <li>16. We collect convenience fees for all gaming units purchased, all withdrawals made, all prize monies, all gaming units purchased with prize monies and any other fees that we deem fit. If any of these fees are unacceptable to you, you should
            cease using the website and/or close your account. We can change these fees anytime at our discretion. If, however, you continue to use the after the date on which the changes to the fees come into effect, you will be deemed to have accepted
            those changes.</li>

          <li>17. Fastplay24 may confirm a customer’s address by posting an address verification letter to the customer. Enclosures may include a leaflet. All correspondence will be discreet when such correspondence is initiated all offers and withdrawal
            requests may remain pending until the address has been confirmed as correct.</li>
          <li>18. By accepting the Terms and/or registering to use the website you hereby agree that we shall be entitled to conduct any and all such identification, credit and other verification checks from time to time that we may require and/or are required
            by applicable laws and regulations and/or by the relevant regulatory authorities for use of the website and our products generally. You agree to provide all such information as we require in connection with such verification checks. We shall
            be entitled to suspend or restrict your account in any manner that we may deem in our absolute discretion to be appropriate, until such time as the relevant checks are completed to our satisfaction.
          </li>
          <li>19. Customers may open only one account. Should we identify any customer with more than one account we reserve the right to treat any such accounts as one joint account or close the accounts permanently.</li>
          <li>20. Fastplay24 allows all its customers to choose their own username and password combination. Customers must keep this information secret and confidential as you are responsible for all the gaming sessions you participate in with your account
            and any other activities taking place on your account.</li>
          <li>21. Game participation will only stand if the username and password provided by the customer is entered correctly (whether or not authorized by you), subject to there being sufficient funds in the account.</li>
          <li>22. If, at any time, a customer feels a third party is aware of his user name and/or password, such should be change immediately via the website.</li>

        </ol>
      </div>










    </div>
  </div>
</section>
