<section id="others_intro">
  <div class="grid-container">
    <div class="grid-40">
      <h1>Privacy Policy</h1>
    </div>

  </div>
</section>

<section id="others_contents">
  <div class="grid-container">
    <div class="grid-90 push-5">

      <div class="ui raised segment">

        <div class="ui styled fluid accordion" id="faq">

          <div class="ui basic segment">
            <p>
              The information that you send to us will be processed in accordance with our Privacy Policy. You hereby acknowledge and consent to FastPlay24 (a web skill based gaming service of Tcom Wireless Nigeria) to process your personal data for the purposes of allowing you to access and use the website and/or mobile applications.            </p>
            <p>The company will also process your personal data (excluding login details) for the purposes of carrying out verification procedures in relation to your use of the services provided on the website.</p>
            <p>You agree to indemnify us and hold us harmless of the release of any personal data pursuant to
              our Privacy Policy. This Privacy Policy describes the way in which the company deals with the
              information and data you provide to us to enable us manage your relationship with us.
              </p>
              <p>We will process any personal information provided to us via the website using the sign up
              (registration) form. By submitting your information to us and using the website you confirm your
              consent to the use of your personal information as set out in this Privacy Policy. If you do not
              agree with the terms of this Privacy Policy please do not use the Website or otherwise provide us
              with your personal information.</p>
              <p>Your personal data will not be disclosed to third parties, unless such disclosure is necessary for
              processing of your request, such as effecting transactions on your FastPlay24 account or to carry
              verification procedures and cash transfers to your account.</p>

          </div>
          <div class="ui basic segment">
            <h3 class="ui header dash_header">How Information Collected Is Used</h3>
            <p>The information and data about you which we may collect, use and process includes the following:</p>
            <ol>
              <li>Information that you provide to us by signing up on the Website or any other information you submit to us via the website or email.</li>
              <li>Records of correspondence received via the </li>
              <li>Your responses to surveys or customer research that we carry out from time to time.</li>
              <li>Details of the transactions you carry out with us via the website, telephone or other means.</li>
              <li>Details of your visits to the website including, but not limited to, location data and other communication data.</li>
              <li>We may display the first names of top ten users on our homepage. </li>
              <li>We may also display the names of top winners of each game.</li>
              <li>We may use your personal information and data together with other information for the
              purposes of processing your game sessions, including card and online payments, setting
              up, operating and managing your account, complying with our legal and regulatory
              duties, building up personal profiles, carrying out customer research, surveys and
              analyses.</li>
                            <li>Regularly providing you with information about promotional offers, products and
              services.</li>
                            <li>Monitoring transactions for the purposes of preventing fraud, irregular gaming, and
              money laundering/cheating.</li>
              </ol>
          </div>        

          <div class="ui basic segment">
            <h3 class="ui header dash_header">Information Storage</h3>
            <p>We will take all reasonable steps to ensure that your information is secured and protected. All
              data transmitted from and to our website uses standard end to end SSL encryption. We will only
              disclose personal information to other companies within associated or subsidiary companies and
              to business partners, successors in title to our business and suppliers that are engaged to process
              such information on our behalf. We may also make enquiries of, and disclose details of how you
              conduct your account to such agencies, security organizations and any other relevant third parties
              for fraud and money laundering prevention.</p>
          </div>

          <div class="ui basic segment">
            <h3 class="ui header dash_header">Telephone Calls</h3>
            <p>Telephone calls to and from our Customer Contact Centre are recorded for training and security
              purposes along with the resolution of any queries arising from the service you receive.</p>
          </div>
          <div class="ui basic segment">
            <h3 class="ui header dash_header">Use of Cookies</h3>
            <p>In order to make your visit to the Website more user-friendly, to keep track of visits and to
            improve the service, the company collects a small piece of information sent from your browser
            (information regarding your use of our website), called cookies. If you register with us or if you
            continue to use the website you agree to our use of cookies. We will take all reasonable steps to
            ensure that your information and data is treated securely and in accordance with this Privacy
            Policy.</p>
          </div>
          <div class="ui basic segment">
            <h3 class="ui header dash_header">Disclosure of Information</h3>
            <p>We are entitled to share the information we hold of you which includes personal data and gaming
              history with law enforcement agencies, in order to investigate fraud, money laundering to
              comply with our regulatory duties. In the processing of your FastPlay24 account and associated
              transactions, the company has recourse to credit rating agencies, fraud detection agencies, antimoney
              laundering agencies who may keep record of your information. You hereby consent to
              such disclosures. All such information will be held in accordance with this Privacy Policy. Top
              players’ names and statistics may also be displayed on our homepage.</p>
          </div>
          <div class="ui basic segment">
            <h3 class="ui header dash_header">Changes to our Privacy Statement</h3>
            <p>Any changes we may make to our Privacy Policy in the future will be posted on this page and
              any such changes will become effective upon posting of the revised Privacy Policy. If we make
              any material or substantial changes to this Privacy Policy we will endeavor to inform you via
              email, notice on the website or other necessary communication channels</p>
          </div>
          <div class="ui basic segment">
            <h3>Cheers</h3>
            <p>Your buddies at FastPlay24.</p>
            <p><i>Last updated on 09/13/2018 8:19:11 PM</i></p>
          </div>

        </div>

      </div>

    </div>
  </div>
</section>