<section id="others_intro">
  <div class="grid-container">
    <div class="grid-40">
      <h1>Support Center</h1>
    </div>

  </div>
</section>

<section id="others_contents">
  <div class="grid-container">
    <div class="grid-90 push-5">

      <div id="form" class="ui segments">
        <div class="ui segment">
          <div id="session-menu" class="ui one item menu">
            <a class="active item" style="background-color: #2d95dc; color:white;" data-tab="register"><h2>Contact Form</h2></a>
          </div>
        </div>

        <div class="ui segment" style="padding-bottom: 30px;" ng-hide="sent">

          <div class="ui tab active" data-tab="register">
            <form class="ui form">

              <div class="field">
                <div class="two fields">
                  <div class="field">
                    <input type="email" name="email" placeholder="Enter Email" ng-model="msg.email">
                  </div>
                  <div class="field">
                    <input type="text" name="subject" placeholder="Enter Subject" ng-model="msg.subject">
                  </div>
                </div>
              </div>

              <div class="field">
                <textarea name="message" ng-model="msg.message"></textarea>
              </div>
              <button type="button" style="background-color: #2d95dc;" ng-class="['ui', 'fluid', 'orange', 'button', 'action', {'loading' : loading}]" ng-click="contactAdmin()" ng-disabled="_.size(msg) != 3">Send</button>
            </form>
          </div>

        </div>
        <div class="ui segment" style="padding-bottom: 30px;" ng-show="sent">
          <div class="position-ref">

            <div class="ui basic segment flex-center " >
              <img class="ui centered small image" src="/img/tick-512.png">
              <h1 class="content title">Message Sent</h1>
            </div>

          </div>
        </div>
      </div>




    </div>
  </div>
</section>
<style>
html, body {
    background-color: #dde2e7;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.ui.segment{
  background-color: rgba(255, 255, 255, 0.90);
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.title {
    font-size: 36px;
    padding: 20px;
}

.message {
    font-size: 26px;
    padding: 5px;
}

.m0{
  margin: 0 !important;
}


.tal{
  text-align: left !important;
}

.al{
  align-self: left;
}

img.image{
  margin-top: 45px;
}

</style>
