<section id="others_intro">
  <div class="grid-container">
    <div class="grid-40">
      <h1>TERMS OF USE</h1>
    </div>

  </div>
</section>

<section id="others_contents">
  <div class="grid-container">
    <div class="grid-90 push-5">

      <div class="ui raised segment">

        <div class="ui styled fluid accordion" id="faq">

          <div class="ui basic segment" style="padding: 5%;">
            <h2 class="ui header dash_header">INTRODUCTION</h2>
            <p>Welcome to Fastplay24.com. We offer you a global portfolio of online skilled based gaming product and services.</p>
            <p>Fastplay24 is a Web Skill Based Gaming Service of Tcom Wireless Nigeria, a startup duly registered on 14th April 2015 under the <b>COMPANIES AND ALLIED MATTERS ACT 1990 OF NIGERIA</b> with Business Registration <b>No. BN2340415.</b></p>
            <p>FastPlay24 is a game of skill. According to section 236, sub section 2 of the criminal code
            act; In this section, "unlawful gaming" includes roulette, every game of dice except backgammon, every
            game of cards which is not a <b>game of skill</b>, the game known as chacha and other games of cowries, and
            any game the chances of which are not alike favorable to all the players including the banker or other
            person or persons by whom the game is managed or against whom the other players stake, play.</p>
            <p>A game of skill is a game where the outcome is determined mainly by mental and/or physical skill, rather than chance. </p>
            <p>These General Terms and Conditions apply to all Fastplay24 users playing on all our platforms
            which include the website the mobile application. We provide an online platform for online skill based gaming to all duly registered Users. </p>
              <p>By using and/or visiting any section (including sub-domains) of the Fastplay24.com website or
              any other applications that we own and/or registering on the website, you agree to be bound by</p>
              <ol style="list-style-type: lower-roman;">
                <li>These Terms and Conditions</li>
                <li>Our Privacy Policy</li>
                <li>The Rules applicable to our gaming products are deemed to have been accepted and
              understood with all Terms</li>
              <li>The rules in our FAQ/Help page</li>
              </ol>

              <p>Please read the Terms carefully and if you do not accept the Terms, do not use the Website or
              mobile application. The Terms shall also apply to gaming via mobile devices including
              downloadable applications to a mobile device as if references to your use of the website were
              references to your use of our mobile devices gaming facilities:
              </p>
              <ol>
              <li>By agreeing to these terms and conditions and/or continued use of the website platform,
            the mobile platform (application) you are bound by the entirety of this agreement and by
            our 'Rules and 'Privacy Policy' that are incorporated by reference into these Terms and
            Conditions. If there is any inconsistency between these Terms and Conditions and any
            document incorporated by reference, these Terms and Conditions will prevail.</li>
            <li>If we make significant changes to these Terms and Conditions, we will take appropriate
            steps to bring such changes to your attention. Notifications will be by placing it in a
            prominent position on our website. It is your responsibility to check our website from
            time to time to for any changes in our Terms and Conditions and Privacy policy to ensure
            that you agree with them. Your continued use of our services is deemed to be acceptance
            of these conditions. Games that commenced before amendment will be subject to the
            preexisting conditions. Games that commenced after amendment will be subject to the
            amended conditions.
            </li>
            <li>All users must be at least 18 years of age to play or register with Fastplay24 and we
            reserve the right to ask for proof of age from any users or suspend their account until
            satisfactory documentation is provided.</li>
            <li>Fastplay24 strongly advice responsible gaming as the money used in gaming should
            always be the money that you can afford to lose.</li>
            <li>You agree to provide all required information on registration. This information must be
            accurate and we must be informed of any change in details. </li>
            <li>It is illegal to use and/or abuse an error or an instance of incompleteness on the Client
            application, and/or in any of the Software and/or Services provided by Fastplay24.
            Should the user detect or become aware of such an error or incompleteness, they shall:
            <ol style="list-style-type: lower-alpha">
              <li>Refrain from taking any advantage whatsoever thereof;</li>
              <li>Keep strictly confidential such error or incompleteness;</li>
              <li>Upon detection or becoming aware of such error or incompleteness notify
            Fastplay24 immediately</li>
            </ol></li>
            <li>You authorize us to use any means necessary at any time to verify your identity and any
            information that you have provided us about yourself.</li>
            <li>You agree to inform us of any errors that might have occurred on computations or system
            malfunction regarding games that you have initiated. We reserve the right to declare null
            and void any game sessions that might have been initialized subject to such errors.</li>
            <li>Users will receive confirmation by electronic mail of their accounts after registration.</li>
            <li>You agree to keep your username, password and security details strictly confidential. You
            should change your passwords on a regular basis, and never disclose to any third party.
            Nobody at FastPlay24 or Tcom Wireless Nigeria will request such information from you.
            We will assume that any transaction carried out on your account is by you and
            notifications will be sent to the electronic mail address that you have provided. You
            should protect your usernames and passwords as cash in your pocket, failure to do so is at
            your risk and expense.</li>
            <li>Users must promptly inform us if their account is being used by a third party or its
            security has been compromised in any way. Such account will be subsequently
            suspended.</li>
            <li>If we trace that you are using bots or any other hacking systems to cheat other users, your
            account will be permanently suspended (without prior notice) without refund. We will
            also blacklist you from using our service. Meaning, if you create another account with us,
            we will suspend it without refund.</li>
            <li>A user must never use Fastplay24 account for trading on behalf of third parties.
            Contravention will attract closure of such account. We will not be liable to any third
            party, where such abuse has occurred.</li>
            <li>Where you play any game using the Website, you accept and agree to be bound by the
            Rules which apply to the applicable products available on the website from time to time.</li>
            <li>We may need to change the Terms from time to time for a number of reasons (including
            complying with applicable laws and regulations, and regulatory requirements). Any
            minor or insubstantial changes may be made at any time and you are advised to review
            the Terms on a regular basis. The most up to date Terms will be available on the Website.
            All major changes will be communicated to you in advance of such changes taking effect.
            If any change is unacceptable to you, you should cease using the website and/or close
            your account. If, however, you continue to use the after the date on which the changes to
            the Terms come into effect, you will be deemed to have accepted those changes.</li>
            <li>All information supplied when registering with the website MUST be accurate and
            complete in all respects. Where an account is suspended, the relevant users should
            contact us. All price monies that are unclaimed prior to an account being suspended may
            be forfeited or retrievable as we deem fit.</li>
            <li>We may collect convenience fees for all games played (N5), all withdrawals made, all
            prize monies, all account funding transactions with prize monies and any other fees that
            we deem fit. If any of these fees are unacceptable to you, you should cease using the
            website and/or close your account. We can change these fees anytime at our discretion.
            If, however, you continue to use the after the date on which the changes to the fees come
            into effect, you will be deemed to have accepted those changes.</li>
            <li>Fastplay24 may confirm a users&#39 address by posting address verification letters to the
            users. Enclosures may include a leaflet. All correspondence will be discreet. When
            initiated all offers and withdrawal requests may remain pending until the address has
            been verified.</li>
            <li>By accepting the Terms and/or registering to use the website you hereby agree that we
            shall be entitled to conduct any and all such identification, credit and other verification
            checks from time to time that we may require and/or are required by applicable laws and
            regulations and/or by the relevant regulatory authorities for use of the website and our
            products generally. You agree to provide all such information as we require in connection
            with such verification checks. We shall be entitled to suspend or restrict your account in
            any manner that we may deem in our absolute discretion to be appropriate, until such
            time as the relevant checks are completed to our satisfaction.</li>
            <li>Users may open only one account. Should we identify any users with more than one
            account we will permanently suspend both accounts (without prior notice) without
            refunds. We will also blacklist you from using our service. Meaning, if you create
            another account with us, we will suspend it without refund.</li>
            <li>Fastplay24 allows all its Users to choose their own username and password combination.
            Users must keep this information secret and confidential as you are responsible for all the
            gaming sessions you participate in with your account and any other activities taking place
            on your account.</li>
            <li>. We reserve the right to automatically limit a user&#39s participation if he/she wins to a
            certain amount on a particular day.</li>
            <li>We also reserve the right to regulate how often one can Cashout can per day.</li>
            <li>Game participation will only stand if the username and password provided by the users is
            entered correctly (whether or not authorized by you), subject to there being sufficient
            funds in the account.</li>
            <li>If, at any time, a user feels a third party is aware of his user name and/or password, such
            should be changed immediately via the website.</li>
            <li>If any user wish to close his/her account, any negative balance on the account will fall
            immediately due and payable to Fastplay24 and such account will not be closed until the
            relevant amount owed to Fastplay24 is paid in full.</li>
            <li> Fastplay24 reserves the right to close or suspend your account at any time and for any
            reason. Without limiting the preceding sentence, the company shall be entitled to close or
            suspend your account if:
            <ol style="list-style-type: lower-alpha;">
              <li>you become bankrupt;</li>
              <li>if it is discovered that you have used the website in a fraudulent manner or for
            illegal and/or unlawful or improper purposes;</li>
              <li>the company considers that you have used the website in an unfair manner or have
            deliberately cheated or taken unfair advantage of the company or any of its Users;</li>
              <li>The company is requested to do so by the police, any regulatory authority or
            court;</li>
            </ol></li>
            <li> All users must be members of our telegram Forum to be eligible to Cashout.</li>
            <li>. All users must share our link with their Cashout amount on social media (Facebook,
            twitter and Instagram). If they delete any post after a successful Cashout, they won’t be
            paid until they restore the post.</li>
            <li>If the company closes or suspends your account for any of the reasons referred to in (a) to
            (d) above, you shall be liable for any and all claims, losses, liabilities, damages, costs and
            expenses incurred or suffered by Fastplay24 (together Claims) arising there from and
            shall indemnify and hold the company harmless on demand for such claims. In the
            circumstances referred to in (a) to (d) above, the company shall also be entitled to
            withhold and/or retain any and all amounts which would otherwise have been paid or
            payable to the users (including any winnings or bonus payments).</li>
            <li> By depositing funds into your account, you direct us and we agree to hold them, along
            with any winnings, for the sole and specific purpose of using any intention to participate
            in a game session. In such circumstances we may also report this to relevant authorities.</li>
            <li>If funds were credited to a users&#39 account in error, it is the users&#39 responsibility to inform
            the company without delay.</li>
            <li>FastPlay24 and Tcom Wireless Reserves the right to decline any user payment if he/she
            violates the terms of service.</li>
            <li>A user will agree that the company shall be entitled to retain any interest which might
            accrue on monies held in Fastplay24 account</li>
            <li>Fastplay24 reserves the right to decline all, or part, of any game session at its sole and
            absolute discretion. All Credits are placed at your own risk and discretion.</li>
            <li>It is the responsibility of the users to ensure that the answers that they give are correct.
            Once gaming units have been placed they may not be cancelled or changed by the users.
            The company reserves the right to cancel any game session at any time and there will be
            no refunds.</li>
            <li>You cannot participate in a game session if there are insufficient funds in your account.
            Notwithstanding these, if Credits are purchased via a credit or debit card they are not
            valid until we have received payment in full. You cannot join a game session if we have
            not received the payment or if you do not have Credits prior to the commencement of the
            game.</li>
            <li>All payments made via our website or to any of our Payment Agents&#39 bank accounts are
            not refundable. You take responsibility of any payment that is not made to our official
            bank accounts.</li>
            <li>In addition, Fastplay24 reserves the right to levy an administrative charge on the users up
            to the value of the Credits or additional payment to cover administrative costs. We further
            reserve the right to ask any users to provide sufficient documentation for us to be
            satisfied in our absolute discretion as to the user&#39s identity prior to us crediting any
            money, referral bonus, and offer to their account.</li>
            <li>All Fastplay24 offers are intended for recreational players and FastPlay24 may in its sole
            discretion limit the eligibility of users to participate in all or part of any promotion.</li>
            <li>Fastplay24 reserves the right to amend, cancel, reclaim or refuse any game session
            request plays or promotion at its own discretion.</li>
            <li>Your computer equipment or mobile device and internet connection may affect the
            performance and/or operation of the website. The company does not guarantee that the
            website will operate without faults or errors or that the Fastplay24 services will be
            provided without interruption. The company will not accept any liability for any failures
            or issues that arise due to your equipment, internet connection or internet or
            telecommunication service provider).</li>
            <li>For Users using Fastplay24 on the move (including downloadable applications) for
            joining game sessions while noting that Fastplay24 will not be responsible for any
            damage or loss of data from the mobile device that the software is installed on, and will
            also not be responsible for any call, data or other charges incurred whilst using the
            software.</li>
            <li>You must not use the website for any purpose which (in Fastplay24 opinion) is illegal,
            defamatory, abusive or obscene, or which Fastplay24 considers discriminatory,
            fraudulent, dishonest or inappropriate.</li>
            <li>We reserve the right to display commercial advertisements on our website, our mobile
            applications or email channels.</li>
            <li>Fastplay24 reserves the right to- seek criminal and contractual sanctions against any users
            involved in fraudulent, dishonest or criminal acts via or in connection with the Website or
            Fastplay24 product.</li>
            <li>Fastplay24 actively monitors traffic to and from the website. The company reserves the
            right in its sole discretion to block access where evidence indicative of automated or
            robotic activity is found.</li>
            <li>From time to time, all or part of the Website may be unavailable for use by you because
            of our maintenance of the Website and/or alteration or amendment of any of the Website
            components.</li>
            <li>The company does not accept any liability for any damages, liabilities or losses which are
            deemed or alleged to have arisen out of or in connection with the website or its content
            including delays or interruptions in operation or transmission, loss or corruption of data,
            communication or lines failure, any person's misuse of the website or its content or any
            errors or omissions in content.</li>
            <li>The contents of the website are protected by Copyright Laws of Nigeria and other
            intellectual property rights.</li>
            <li>All product and company names and logos mentioned on the Website are the trademarks,
            service marks or trading names of their respective owners, including FastPlay24.</li>
            <li>Except to the extent required to use a product for the purpose of joining game session no
            part of the Website may be reproduced or stored, modified, copied, republished,
            uploaded, posted, transmitted or distributed, by any means or in any manner, or included
            in any other website or in any public or private electronic retrieval system or service
            including text, graphics, video, messages, code and/or software without our express prior
            written consent.</li>
            <li>Any commercial use or exploitation of the Website or its content is strictly prohibited.</li>
            <li>These Terms and Conditions, the Privacy Policy, the Cookies Policy, the Rules and any
            document expressly referred to in them and any guidelines or rules posted on the Website
            constitute the entire agreement and understanding of the parties and supersede any
            previous agreement between the parties relating to their subject matter.</li>
            <li>You acknowledge and agree that in entering into and agreeing to these Terms and
            Conditions, the Privacy Policy, the Cookies Policy, the Rules and any document
            expressly referred to in them and any guidelines or rules posted on the Website you do
            not rely on, and shall have no remedy in respect of, any statement, representation,
            warranty, understanding, promise or assurance (whether negligently or innocently made)
            of any person (whether party to this agreement or not) other than as expressly set out
            therein. Nothing in this clause shall operate to limit or exclude any liability for fraud or
            fraudulent misrepresentation.</li>
            <li>Nothing in these Terms and Conditions shall create or be deemed to create a partnership,
            joint venture or principal-agent relationship between the parties and no party shall have
            authority to bind any other in any way unless expressly provided otherwise in these
            Terms and Conditions.</li>
            <li>The system automatically rounds down all fractional results. E.g. 1.5, 1.9, 1.2 etc., are
            rounded down to 1.</li>
            <li>A VAT of 5% may be levied on all payments received from all users. </li>
            <li>Fastplay24 will refund your units for any game played where one or more questions are
            mark wrongly.</li>
            <li>No FastPlay24 account can be inherited by a next of kin.</li>
            <li>In a situation where a user is diseased, all earnings will be paid into the user&#39s registered
            bank account if the family raises concerns on settlement. They can afterwards follow up
            with the bank of the diseased to request for settlement as we do not do death verification.</li>
            <li>Fastplay24 shall not be in breach of these Terms and Conditions nor liable for delay in
            performing, or failure to perform, any of its obligations if such delay or failure results
            from events, circumstances or causes beyond its reasonable control including(without
            limitation) any telecommunications network failures, power failures, failures in third
            party computer hardware or software, fire, lightning, explosion, flood, severe weather,
            industrial disputes or lock-outs, terrorist activity and acts of government or other
            competent authorities. In such circumstances the time for performance shall be extended
            by a period equivalent to the period during which performance of the obligation has been
            delayed or failed to be performed.</li>
            <li>Should there be any claim or dispute arising from a past or current transaction, please
            <b>Contact Us</b>. If Fastplay24 is unable to settle the dispute, it will refer the dispute to
            Arbitration whose decision will be final subject to full representation given to all parties
            involved. No dispute regarding any game session will result in litigation, court action or
            objection to a bookmaker’s license or permit unless the company fails to implement the
            decision given by arbitration.</li>
            <li>Note that we clear game logs every weekend, at exactly 12 midnight on Saturdays.
            Therefore, all users must dispute any issues regarding their scores.</li>
            </ol>
          </div>
          <div class="ui basic segment">
            <h3>Third Party Rights</h3>
            <p>Tcom Wireless Nigeria and each of her partners may enforce any provision of these terms and
              conditions against you as a third party contract beneficiary whether in the name of Fastplay24 or
              in its own name. Prohibitions of these terms and conditions will be punished under law of
              Nigeria as provided in the 1999 Constitution.
            </p>
          </div>
          <br>
          <div class="ui basic segment">
            <h3>Cheers</h3>
            <p>Your buddies at FastPlay24.</p>
            <p><i>Last updated on 09/14/2018 9:06:35 AM</i></p>
          </div>

        </div>

      </div>

    </div>
  </div>
</section>
