<div id="main-controller" style="background: #fff;">
  <ng-include src="'angular/views/partials/admin-menu.html'"></ng-include>
  <section id="profile-edit">
    <div class="grid-container">
      <br>
      <br>
      <br>

      <br>
      <br>
      <div class="grid-25">
        <div id="edit" class="ui secondary vertical pointing menu">

          <a class="item active" data-tab="email">
            Email
          </a>
          <a class="item" data-tab="password">
            Password
          </a>
          <a class="item" data-tab="location">
            Location
          </a>
          <a class="item" data-tab="mobile">
            Mobile
          </a>
          <a class="item" data-tab="bank-details">
            Bank Details
          </a>
          <a class="item" data-tab="address">
            Address
          </a>
        </div>
      </div>
      <div class="grid-50">


        <div class="ui tab active" data-tab="email">
          <form class="ui form" ng-submit="updateDetails()">
            <h1 class="ui header" style="font-family: alegreya sans;
            font-weight: 100; margin-bottom: 0px;">Update Email</h1>
            <div class="ui divider"></div>
            <div class="field">
              <input type="email" name="email" placeholder="Email" required ng-model="userdetails.email">
            </div>
            <button class="ui blue button" type="submit">Update Email</button>
          </form>
          <div class="ui icon message">
            <i class="attention icon"></i>
            <div class="content">
              <div class="header">
                Important
              </div>
              <p>For this to take effect, you'll be logged out</p>
            </div>
          </div>
        </div>


        <div class="ui tab" data-tab="password">
          <form class="ui form" ng-submit="updateDetails()">
            <h1 class="ui header" style="font-family: alegreya sans;
            font-weight: 100; margin-bottom: 0px;">Update Password</h1>
            <div class="ui divider"></div>
            <div class="field">
              <input type="text" name="password" placeholder="Enter old password" required ng-model="userdetails.old_password">
            </div>
            <div class="field">
              <input type="text" name="password" placeholder="Provide new password" required ng-model="userdetails.password">
            </div>
            <button class="ui blue button" type="button" ng-click="updatePassword()">Update Password</button>
          </form>
          <div class="ui icon message">
            <i class="attention icon"></i>
            <div class="content">
              <div class="header">
                Important
              </div>
              <p>For this to take effect, you'll be logged out</p>
            </div>
          </div>
        </div>


        <div class="ui tab" data-tab="location">
          <form class="ui form" ng-submit="updateDetails()">
            <h1 class="ui header" style="font-family: alegreya sans;
            font-weight: 100; margin-bottom: 0px;">Update your location</h1>
            <div class="ui divider"></div>
            <div class="two fields">
              <div class="field">
                <input  type="text" name="city" placeholder="Enter City" required ng-model="userdetails.town">
              </div>
              <div class="field">
                <input  type="text" name="state" placeholder="Enter State" ng-model="userdetails.state">
              </div>
            </div>
            <button type="submit" class="ui blue button">Update</button>
          </form>
        </div>


        <div class="ui tab" data-tab="mobile">
          <form class="ui form" ng-submit="updateDetails()">
            <h1 class="ui header" style="font-family: alegreya sans;
            font-weight: 100; margin-bottom: 0px;">Mobile Details</h1>
            <div class="ui divider"></div>
            <div class="field">
              <div class="two fields">
                <div class="field">
                  <input  type="text" name="mobile-1" placeholder="Enter Mobile 1" required ng-model="userdetails.phone1">
                </div>
                <div class="field">
                  <input  type="text" name="mobile-2" placeholder="Enter Mobile 2 (Optional)" ng-model="userdetails.phone2">
                </div>
              </div>
            </div>
            <button type="submit" class="ui blue button">Update</button>
          </form>
        </div>

        <div class="ui tab" data-tab="bank-details">
          <form class="ui form" ng-submit="updateDetails()">
             <h1 class="ui header" style="font-family: alegreya sans;
             font-weight: 100; margin-bottom: 0px;">Update Bank Details</h1>
             <div class="ui divider"></div>
             <div class="field">
               <input type="text" name="acct-no" placeholder="Account No." required ng-model="userdetails.acct_no">
             </div>
             <div class="two fields">
               <div class="field">
                 <select id="dropdown-2" class="ui dropdown dropdown_menu" name="acct-type" ng-model="userdetails.acct_type">
                   <option value="">Type</option>
                   <option value="current">Current</option>
                   <option value="savings">Savings</option>
                   option
                 </select>
               </div>
               <div class="field">
                 <select id="dropdown-3" class="ui dropdown dropdown_menu" name="bank" ng-model="userdetails.bank">
                   <option value="">Bank</option>
                   <option ng-repeat="bank in banks">{{ bank }}</option>
                 </select>
               </div>
             </div>
             <button type="submit" class="ui blue button">Update Information</button>
           </form>
        </div>


        <div class="ui tab" data-tab="address">
          <form class="ui form" ng-submit="updateDetails()">
            <h1 class="ui header" style="font-family: alegreya sans;
            font-weight: 100; margin-bottom: 0px;">Update Address</h1>
            <div class="ui divider"></div>
            <div class="field">
              <input type="text" name="address" placeholder="Address" required ng-model="userdetails.address">
            </div>
            <button type="submit" class="ui blue button">Update</button>
          </form>
        </div>

      </div>
    </div>
  </section>
  <footer style="background: #03A9F4;">
    <footer style="position: fixed; width: 100%; bottom: 0; background: #03A9F4;" ng-include src="'angular/views/partials/footer.html'"></footer>
  </footer>
</div>
