<div id="main-controller" style="min-height: 100vh; position: relative; background: #03A9F4;">
  <ng-include src="'angular/views/partials/admin-menu.html'"></ng-include>

  <style>
    .ui.search .action:hover {
      background: transparent;
    }
    .ui.input.error input{
      /* background-color: red; */
    }
  </style>

  <section id="dashboard">
    <div class="grid-container">
      <div class="grid-100">
        <div class="ui segment compact left floated">
          <div class="ui horizontal statistic">
              <div class="value">
                {{ total }}
              </div>
              <div class="label">
                Users
              </div>
            </div>
        </div>
          <br>
        <div class="ui search flex-center" style="justify-content:flex-end">
          {{ searchField }}
          <div ng-class="['ui icon input action', {'loading': searching, 'error' : !searchPhrase || searchField.$invalid}]">
            <input class="prompt" type="text" placeholder="Search users..." ng-model="searchPhrase" ng-minlength="3" name="searchField">
            <i class="search icon"></i>
            <button class="ui green button" ng-click="performDatabaseSearch(searchPhrase)" ng-disabled="!searchPhrase || searchField.$invalid"></button>
          </div>
        </div>
        <div class="ui red segment">
          <div ng-show="loading" class="animate fade">
            <div class="ui segment"  style="min-height: 300px;">
              <div class="ui active inverted dimmer">
                <div class="ui text loader">Loading</div>
              </div>
              <p></p>
            </div>
          </div>
          <table class="ui  striped celled table">
            <thead>
              <tr>
                <th>S/N</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="u in data" ng-show="!loading" class="animate translate-in">
                <td>{{ u.id }}</td>
                <td><span style="cursor:pointer;" ng-click="previewUser(u)">{{ u.firstname }} {{ u.lastname }}</span></td>
                <td>{{ u.email }}</td>
                <td>
                  <div class="ui mini buttons">
                    <button class="ui orange button" ng-click="openEditModal(u)">Edit</button>
                    <div class="or"></div>
                    <button class="ui teal button" confirm-action="suspendUser(u)" ng-show="u.useraccstatus == 'active'">Suspend</button>
                    <div class="or"></div>
                    <button class="ui black button" confirm-action="activateUser(u)" ng-show="u.useraccstatus != 'active'">Activate</button>
                    <div class="or"></div>
                    <button ng-class="['ui purple button', {'loading':verifying}]" confirm-action="verifyUser(u)" ng-hide="u.verified">Verify</button>
                    <div class="or"></div>
                    <button ng-if="u.referrals.length > 0" ng-class="['ui green button', {'loading':loading}]" ng-click="openReferralsModal(u)">View Referrals</button>
                    <div ng-if="u.referrals.length > 0" class="or"></div>
                    <button class="ui red button" confirm-action="deleteUser(u)">Delete</button>
                    <div class="or"></div>
                    <button ng-class="['ui blue button', {'loading' : loading}]" ng-click="creditUser(u)">Credit</button>
                    <!-- <div class="or"></div>
                    <button class="ui black button" confirm-action="makeAdmin(u)">Make Admin</button> -->
                  </div>
                </td>
              </tr>
            </tbody>
            <serv-side-nav url="'/api/get-users-page-details'"></serv-side-nav>
          </table>

        </div>
      </div>
    </div>
  </section>

  <div class="ui modal editUser transition hidden">
    <div class="header">
      <button class="ui large icon button close" ng-click="closeModal()">
        <i class="reply icon"></i>
      </button>
      User Details
    </div>

    <div class="ui stacked segment">
      <form class="ui form" ng-submit="editUser()" name="edit">
        <h4 class="ui dividing header">Personal Information</h4>
        <div class="field">
          <label>Name</label>
          <div class="two fields">
            <div class="field">
              <input type="text" name="firstname" placeholder="First Name" ng-model="u.firstname">
            </div>
            <div class="field">
              <input type="text" name="lastname" placeholder="Last Name" ng-model="u.lastname">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="two fields">
            <div class="field">
              <input type="password" name="password" placeholder="Enter Password" ng-model="u.password">
            </div>
            <div class="field">
              <input type="password" name="password_confirmation" placeholder="Confirm Password" ng-model="u.password_confirmation">
            </div>
          </div>
        </div>
        <div class="field">
          <div class="three fields">
            <div class="field">
              <label>Total Units Purchsased</label>
              <input type="number" name="num_of_referrals" placeholder="Units Purchased" ng-model="u.units_purchased" ng-readonly="true">
            </div>
            <div class="field">
              <label>Total Games Played</label>
              <input type="number" name="num_of_referrals" placeholder="Games Played" ng-model="u.num_of_games_played" ng-readonly="true">
            </div>
            <div class="field">
              <label>Wallet Balance</label>
              <input type="number" name="available_units" placeholder="Wallet Balance" ng-model="u.available_units" ng-readonly="true">
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>Transferred Earnings</label>
              <input type="number" name="transferred_earnings" placeholder="Transferred Earnings" ng-model="u.total_transferred_earnings" ng-readonly="true">
            </div>
            <div class="field">
              <label>Untransferred Earnings Balance</label>
              <input type="number" name="untransferred_earnings" placeholder="Untransferred Earnings" ng-model="u.total_untransferred_earnings" ng-readonly="true">
            </div>
            <div class="field">
              <label>Number of Referrals</label>
              <input type="number" name="num_of_referrals" placeholder="Num of Referrals" ng-model="u.referrals.length" ng-readonly="true">
            </div>
          </div>
        </div>
        <div class="field">
          <div class="two fields">
            <div class="field">
              <label>Account Number</label>
              <input type="text" name="phone1" placeholder="Account Number" ng-model="u.acct_no" ng-readonly="true">
            </div>
            <div class="field">
              <label>Bank Name</label>
              <input type="text" name="available_units" placeholder="Bank Name" ng-model="u.bank" ng-readonly="true">
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>Account Type</label>
              <input type="text" name="earnings" placeholder="Account Type" ng-model="u.acct_type" ng-readonly="true">
            </div>
            <div class="field">
              <label>Phone Number</label>
              <input type="text" name="phone1" placeholder="Phone Number" ng-model="u.phone1" ng-readonly="true">
            </div>
            <div class="field">
              <label>Phone Network</label>
              <input type="text" name="network" placeholder="Phone Number" ng-model="u.network" ng-readonly="true">
            </div>
          </div>
        </div>
        <div class="field">
          <div class="fields">
            <div class="eight wide field">
              <label>Email Address</label>
              <input type="text" name="email" placeholder="Email Address" ng-model="u.email" ng-readonly="true">
            </div>
            <div class="eight wide field">
              <label>Address</label>
              <textarea rows="2" name="address" placeholder="Address" ng-model="u.address" ng-readonly="true"></textarea>
            </div>

          </div>
        </div>
        <button type="submit" class="ui button green" tabindex="0" ng-disabled="u.password_confirmation != u.password">Submit</button>
      </form>
    </div>

  </div>

  <div class="ui modal userReferrals transition hidden">
    <div class="ui blue dash_header header">
      <h1>
        <button class="ui large icon button close" ng-click="closeModal()">
          <i class="reply icon"></i>
        </button>
        {{ u.firstname }}'s Referrals
      </h1>
    </div>


    <div class="ui blue stacked segment">
      <div class="ui cards">
        <div class="card" style="width:280px;" ng-repeat="ref in referrals">
          <div class="content">
            <div class="center aligned header">{{ ref.referral.firstname }} {{ ref.referral.lastname }} ({{ ref.referral.available_units | currency }}) /  ({{ ref.referral.units_purchased | currency }})</div>
            <div class="center aligned description">
              <p>{{ ref.referral.email }}</p>
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <span>Date Added:</span>  {{ ref.created_at | timeAgo }}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="ui modal showUser transition hidden">
    <div class="ui blue dash_header header">
      <h1>
        <button class="ui large icon button close" ng-click="closeModal()">
          <i class="reply icon"></i>
        </button>
        {{ details.firstname }}'s Details
      </h1>
    </div>


    <div class="ui red segment">
      <div ng-show="loading" class="animate fade">
        <div class="ui segment"  style="min-height: 300px;">
          <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
          </div>
          <p></p>
        </div>
      </div>
      <table class="ui  striped celled table">
        <div class="ui blue dash_header header">
          <h3>
            {{ details.firstname }}'s Transactions <br>
            Total withdrawal: {{ _.size(_.filter(details.transactions, ['trans_type', 'withdrawal'])) }} times ({{  _.sumBy(_.filter(details.transactions, ['trans_type', 'withdrawal']), 'amount')  | currency }})
          </h3>
        </div>
        <thead>
          <tr>
            <th>S/N</th>
            <th>Amount</th>
            <th>Charges</th>
            <th>Transaction Type</th>
            <th>Status</th>
            <th>Channel</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="u in details.transactions | orderBy : '-id'" ng-show="!loading" class="animate translate-in">
            <td>{{ u.id }}</td>
            <td>{{ u.amount }}</td>
            <td>{{ u.charges }}</td>
            <td>{{ u.trans_type }}</td>
            <td>{{ u.status }}</td>
            <td>{{ u.channel }}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="ui red segment">
      <div ng-show="loading" class="animate fade">
        <div class="ui segment"  style="min-height: 300px;">
          <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
          </div>
          <p></p>
        </div>
      </div>
      <table class="ui  striped celled table">
        <div class="ui blue dash_header header">
          <h3>
            {{ details.firstname }}'s Earnings
          </h3>
        </div>
        <thead>
          <tr>
            <th>S/N</th>
            <th>Amount</th>
            <th>Session ID</th>
            <th>Transfer Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="u in details.earnings | orderBy : '-id'" ng-show="!loading" class="animate translate-in">
            <td>{{ u.id }}</td>
            <td>{{ u.amount }}</td>
            <td>{{ u.game_id }}</td>
            <td>{{ u.transferred }}</td>
          </tr>
        </tbody>
      </table>

    </div>

    <div class="ui red segment">
      <div ng-show="loading" class="animate fade">
        <div class="ui segment"  style="min-height: 300px;">
          <div class="ui active inverted dimmer">
            <div class="ui text loader">Loading</div>
          </div>
          <p></p>
        </div>
      </div>
      <table class="ui  striped celled table">
        <div class="ui blue dash_header header">
          <h3>
            {{ details.firstname }}'s Game Sessions
            {{ _.size(details.games) }} ( {{ _.size(_.filter(details.games, ['payment_status', 'paid'])) * 35 | currency }} ) <span style="color:red">{{  _.size(_.filter(details.games, ['payment_status', 'nullified'])) }} games nullified</span>
          </h3>
        </div>
        <thead>
          <tr>
            <th>S/N</th>
            <th>Session ID</th>
            <th>Status</th>
            <th>Payment Status</th>
            <th>Score</th>
            <th>Earning</th>
            <th>Position</th>
            <th>Ended At</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="u in details.games | orderBy : '-id'" ng-show="!loading" class="animate translate-in">
            <td>{{ u.id }}</td>
            <td>{{ u.game_id }}</td>
            <td>{{ u.status }}</td>
            <td>{{ u.payment_status }}</td>
            <td>{{ u.score }}</td>
            <td>{{ u.earning }}</td>
            <td>{{ u.position }}</td>
            <td>{{ u.ended_at }}</td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

  <div class="ui modal creditUser transition hidden">
    <div class="header">
      <button class="ui large icon button close" ng-click="closeModal()">
        <i class="reply icon"></i>
      </button>
      Add / Subtract {{ u.firstname }} Units
    </div>

    <div class="ui stacked segment">
      <form class="ui form" name="edit">
        <h4 class="ui dividing header">Billing Information</h4>
        <div class="three fields">
          <div class="field">
            <label>Available Units</label>
            <input type="text" name="available_units" placeholder="Current Available Units" ng-model="u.available_units" ng-readonly="true">
          </div>
          <div class="field">
            <label>Units to add</label>
            <input type="number" name="units" placeholder="Enter negative values to perform subtraction" ng-model="u.units">
          </div>
          <div class="field">
            <label>Type</label>
            <select name="trans_type" placeholder="online or deposit" ng-model="u.trans_type" style="font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif; height:2.7em;">
              <option value="">Select Transaction Type</option>
              <option value="online">Online</option>
              <option value="bank deposit">Bank Deposit</option>
            </select>
          </div>
        </div>
        <button type="submit" ng-class="['ui green button', {'loading' : loading}]" tabindex="0" ng-click="processCreditAddition(u)">Credit</button>
      </form>
    </div>

  </div>

  <footer  ng-include src="'angular/views/partials/footer.html'">
  </footer>
</div>
