<div id="main-controller" style="min-height: 100vh; position: relative; background: #03A9F4;">
  <ng-include src="'angular/views/partials/admin-menu.html'"></ng-include>

  <section id="dashboard">
    <div class="grid-container">
      <div class="grid-100">
        <div class="ui search flex-center" style="justify-content:flex-end">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search users..." ng-model="search">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
        <div class="ui red segment">
          <table class="ui  striped celled table">
            <thead>
              <tr>
                <th>S/N</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>

              <tr ng-repeat="u in users | filter : search">
                <td>{{ $index + 1 }}</td>
                <td><span style="cursor:pointer;" ng-click="previewUser(u)">{{ u.firstname }} {{ u.lastname }}</span></td>
                <td>{{ u.email }}</td>
                <td>
                  <div class="ui mini buttons">
                    <button class="ui orange button" ng-click="openModal(u)">Edit</button>
                    <div class="or"></div>
                    <button class="ui teal button" confirm-action="suspendUser(u)" ng-show="u.useraccstatus == 'active'">Suspend</button>
                    <div class="or"></div>
                    <button class="ui purple button" confirm-action="verifyUser(u)" ng-hide="u.verified">Verify</button>
                    <div class="or"></div>
                    <button class="ui green button" ng-click="openReferralsModal(u)">View Referrals</button>
                    <div class="or"></div>
                    <button class="ui red button" confirm-action="deleteUser(u)">Delete</button>
                    <div class="or"></div>
                    <button class="ui blue button" ng-click="creditUser(u)">Credit</button>
                    <!-- <div class="or"></div>
                    <button class="ui black button" confirm-action="makeAdmin(u)">Make Admin</button> -->
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <div class="ui modal editUser transition hidden">
    <div class="header">
      <button class="ui large icon button close" ng-click="closeModal()">
        <i class="reply icon"></i>
      </button>
      User Details
    </div>

    <div class="ui stacked segment">
      <form class="ui form" ng-submit="editUser()" name="edit">
        <h4 class="ui dividing header">Personal Information</h4>
        <div class="field">
          <label>Name</label>
          <div class="two fields">
            <div class="field">
              <input type="text" name="firstname" placeholder="First Name" ng-model="u.firstname">
            </div>
            <div class="field">
              <input type="text" name="lastname" placeholder="Last Name" ng-model="u.lastname">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="two fields">
            <div class="field">
              <input type="password" name="password" placeholder="Enter Password" ng-model="u.password">
            </div>
            <div class="field">
              <input type="password" name="password_confirmation" placeholder="Confirm Password" ng-model="u.password_confirmation">
            </div>
          </div>
        </div>
        <div class="field">
          <label>Email Address</label>
          <div class="fields">
            <div class="eight wide field">
              <input type="text" name="email" placeholder="Email Address" ng-model="u.email">
            </div>
            <div class="eight wide field">
              <input type="text" name="address" placeholder="Contact Address" ng-model="u.address">
            </div>
          </div>
        </div>
        <h4 class="ui dividing header">Billing Information</h4>
        <div class="three fields">
          <div class="field">
            <label>Account Number</label>
            <input type="text" name="acct_no" placeholder="Enter Account Number" ng-model="u.acct_no">
          </div>
          <div class="field">
            <label>Account Type</label>
            <select id="dropdown-2" class="ui dropdown dropdown_menu" ng-model="u.acct_type">
              <option value="">Type</option>
              <option value="current">Current</option>
              <option value="savings">Savings</option>
              option
            </select>
          </div>
          <div class="field">
            <label>Bank</label>
            <select id="dropdown-3" class="ui dropdown dropdown_menu" ng-model="u.bank">
              <option value="">Bank</option>
              <option ng-selected="u.bank == bank" ng-repeat="bank in banks">{{ bank }}</option>
            </select>
          </div>
        </div>
        <button type="submit" class="ui button green" tabindex="0">Submit</button>
      </form>
    </div>

  </div>

  <div class="ui modal userReferrals transition hidden">
    <div class="ui blue dash_header header">
      <h1>
        <button class="ui large icon button close" ng-click="closeModal()">
          <i class="reply icon"></i>
        </button>
        {{ u.firstname }}'s Referrals
      </h1>
    </div>


    <div class="ui blue stacked segment">
      <div class="ui cards">
        <div class="card" style="width:280px;" ng-repeat="ref in referrals">
          <div class="content">
            <div class="center aligned header">{{ ref.referral.firstname }} {{ ref.referral.lastname }}</div>
            <div class="center aligned description">
              <p>{{ ref.referral.email }}</p>
            </div>
          </div>
          <div class="extra content">
            <div class="center aligned author">
              <span>Date Added:</span>  {{ ref.created_at | timeAgo }}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="ui modal creditUser transition hidden">
    <div class="header">
      <button class="ui large icon button close" ng-click="closeModal()">
        <i class="reply icon"></i>
      </button>
      Add / Subtract User Units
    </div>

    <div class="ui stacked segment">
      <form class="ui form" name="edit">
        <h4 class="ui dividing header">Billing Information</h4>
        <div class="three fields">
          <div class="field">
            <label>Available Units</label>
            <input type="text" name="available_units" placeholder="Current Available Units" ng-model="u.available_units" ng-readonly="true">
          </div>
          <div class="field">
            <label>Units to add</label>
            <input type="number" name="units" placeholder="Enter negative values to perform subtraction" ng-model="u.units">
          </div>
        </div>
        <button type="submit" class="ui button green" tabindex="0" ng-click="processCreditAddition(u)">Credit</button>
      </form>
    </div>

  </div>

  <footer  ng-include src="'angular/views/partials/footer.html'">
  </footer>
</div>
