// colors

$color-1: #2e3233; // grey dark
$color-1a: #2e3233; // my first
$wsm: #f8f9f8; // my first
$color-2: #69aa6f; // green
$color-lg: #23B5BA; // lightgreen
$green: #3d793f; // my green
$color-3: #e2e3df; // grey light
$color-4: #ffffff; // white
$orange:#f8b03a;
$darkorange:#b98727;
$color-g: #079435;
$bkg: #c0e5ea;
$text-red: #a94442;

// fonts;

$primary-font: sans-serif;

// header size

$header-height-S: 50px;
$header-height-L: 80px;

// Navigation size

$nav-width-S: 260px;

// Search size

$search-height-S: 50px;
$search-height-L: 120px;

// z-index

$below-content: 1;
$content: 2;
$above-content: 3;
