<header id="alpha">
  <div class="grid-container">
    <div class="grid-20 mobile-grid-20">
      <a href="/"><img src="/img/logo.png" alt=""></a>
    </div>
    <div class="grid-80 mobile-grid-80">
      <nav>
        <mini-game-state ng-hide="hide"></mini-game-state>

        <div class="ui labeled button" tabindex="-1">
          <div class="ui blue button">
            Wallet
          </div>
          <a class="ui basic blue label">
            {{ userdetails.available_units | currency }}
          </a>
        </div>
        <!-- <div class="ui labeled  button" tabindex="-1">
          <div class="ui red button right pointing label">
            <i class="heart icon"></i> Total Earnings
          </div>
          <a class="ui basic red label">
              {{ total_earnings | currency }}
            </a>
        </div> -->

        <div class="ui right floated horizontal list" style="line-height:40px;">
          <a class="item" href="/dashboard">Welcome {{ userdetails.firstname }}</a>

          <a class="item" href="/dashboard">Dashboard</a>

          <a class="item" href="/dashboard/profile">Statistics</a>

          <a class="item" href="/dashboard/settings">Edit Profile</a>

          <a class="item" href="" ng-click="logout()"> Logout <i class="sign out icon" style="color:white"></i></a>

          <!-- <div id="dropdown2" class="ui dropdown item dropdown_menu">
            <i class="ellipsis vertical icon" style="color: #fff;"></i>
            <div class="menu" id="drop-menu">
              <a class="item" href="/dashboard/settings">
                <i class="setting icon"></i>
                Settings
              </a>
              <a class="item" href="" ng-click="logout()">
                <i class="sign out icon"></i>
                Logout
              </a>
            </div>
          </div> -->
        </div>

        <!-- <div class="ui mini compact right floated menu" style="margin-right:2em;">
          <a href="/dashboard/messages" class="item notif">
            <i class="icon mail"></i> Messages
            <div class="floating ui red label" ng-if="_.dropRightWhile(userdetails.messages, ['read', true]).length > 0">{{ _.dropRightWhile(userdetails.messages, ['read', true]).length }}</div>
          </a>
          <a href="/dashboard/notices" class="item notif">
            <i class="icon users"></i> Notices
            <div class="floating ui teal label" ng-if="_.dropRightWhile(userdetails.notices, ['read', true]).length > 0">{{ _.dropRightWhile(userdetails.notices, ['read', true]).length }}</div>
          </a>
        </div> -->






      </nav>
    </div>
  </div>
</header>
