<div id="main-controller" style="min-height: 100vh; position: relative; background: #03A9F4;">
	<style>
		#game_container{
			margin-top:100px; 
			padding-bottom:100px;
		}

		@media(max-width:767px){
       #game__container{
				margin-top:150px;
			 }
		}
	</style>
	<ng-include src="'angular/views/partials/menu.html'"></ng-include>

  <div class="grid-container" id="game__container">
    <div class="grid-80 push-10">
      <game-play></game-play>
    </div>
  </div>
  <footer  ng-include src="'angular/views/partials/footer.html'">
  </footer>
</div>
