<div id="main-controller" style="background: #fff; margin-bottom:80px;">
  <ng-include src="'angular/views/partials/menu.html'"></ng-include>

  <section id="u_details">
    <div class="grid-container">
      <div class="grid-50">
        <div class="content">
          <h2 class="header ng-binding" style="margin-bottom: 2px;">{{ userdetails.firstname }} Messages</h2>
        </div>
      </div>
    </div>
  </section>

  <section id="stats">
    <div class="grid-container">
      <div class="grid-100">

        <div class="ui special cards">

          <div class="card" ng-repeat="n in userdetails.messages">
            <div class="content image blurring dimmable">
              <div class="ui inverted dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui primary mini button" ng-show="!n.read" ng-click="markAsRead(n)">Mark as Read</div>
                    <div class="ui red mini button" ng-click="deleteMessage(n)">Delete Message</div>
                    <!-- <div class="ui teal mini button" ng-click="deleteMessage(n)">Reply Message</div> -->
                  </div>
                </div>
              </div>
              <div class="center aligned header">{{ n.subject }}</div>
              <div class="center aligned description">
                <p>{{ n.message }}l</p>
              </div>
            </div>
            <div class="extra content">
              <send-message msg="n">Reply <i class="upload icon"></i></send-message>
              <div class="center aligned author">
                <img class="ui avatar image" src="/img/avatar.png"> {{ n.senderusername }}
              </div>
            </div>
          </div>

          <div class="card" ng-if="userdetails.messages.length == 0">
            <div class="content">
              <div class="center aligned header">{{ userdetails.firstname }} {{ userdetails.lastname }}</div>
              <div class="center aligned description">
                <p>Nobody thinks about you. Too bad.</p>
              </div>
            </div>
            <div class="extra content">
              <div class="center aligned author">
                <img class="ui avatar image" src="/img/avatar.png"> FastPlay24
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


  <footer style="position: fixed; width: 100%; bottom: 0; background: #03A9F4;" ng-include src="'angular/views/partials/footer.html'"></footer>

</div>
