<div id="main-controller" style="background: #fff; margin-bottom:80px;">
  <ng-include src="'angular/views/partials/menu.html'"></ng-include>

  <section id="u_details">
    <div class="grid-container">
      <div class="grid-50">
        <div class="content">
          <h2 class="header ng-binding" style="margin-bottom: 2px;">{{ userdetails.firstname }} Notices</h2>
        </div>
      </div>
    </div>
  </section>

  <section id="stats">
    <div class="grid-container">
      <div class="grid-100">
        <div class="ui cards">
          <div class="card" ng-repeat="n in userdetails.notices">
            <div class="content">
              <img class="right floated mini ui image" ng-src="{{ userdetails.img }}">
              <div class="header">
                {{ userdetails.firstname }} {{ userdetails.lastname }}
              </div>
              <div class="meta">
                {{ n.created_at | timeAgo }}
              </div>
              <div class="description">
                {{ n.notice }}
              </div>
            </div>
            <div class="extra content">
              <div class="mini ui two buttons">
                <div class="ui basic green button" ng-click="markAsRead(n)" ng-show="!n.read">Mark as Read</div>
                <div class="ui basic red button" ng-click="deleteNotice(n)">Delete</div>
              </div>
            </div>
          </div>
          <div class="card" ng-if="userdetails.notices.length == 0">
            <div class="content">
              <img class="right floated mini ui image" ng-src="{{ userdetails.img }}">
              <div class="header">
                {{ userdetails.firstname }} {{ userdetails.lastname }}
              </div>
              <div class="meta">
              </div>
              <div class="description">
                Empty nest. Are you sleeping or what? Get busy!
              </div>
            </div>
            <div class="extra content">

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer style="position: fixed; width: 100%; bottom: 0; background: #03A9F4;" ng-include src="'angular/views/partials/footer.html'"></footer>

</div>
