<div id="main-controller" style="background: #fff;">
  <ng-include src="'angular/views/partials/menu.html'"></ng-include>

  <user-profile></user-profile>

  <section id="stats">


    <div class="grid-container">
      <div class="grid-15 tablet-grid-15">
        <div id="profile-menu" class="ui compact vertical labeled icon menu">
          <a class="item active" data-tab="statistics">
            <i class="area chart icon"></i>
            Statistics
          </a>
          <a class="item" data-tab="transactions">
            <i class="visa icon"></i>
            Transactions
          </a>
          <a class="item" data-tab="earnings">
            <i class="dollar icon"></i>
            Earnings
          </a>
        </div>
      </div>
      <div class="grid-85 tablet-grid-85">
        <div class="ui tab active" data-tab="statistics">
          <div class="ui compact segment">
            <p>Statistics</p>
          </div>
          <table class="ui inverted blue celled table">
            <thead>
              <tr>
                <th>Description</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>No. of games played</td>
                <td>{{ _.size(user_games) }}</td>
              </tr>
              <tr>
                <td>Total earnings</td>
                <td>{{ _.sumBy(user_earnings, 'amount') | currency }}</td>
              </tr>
              <tr>
                <td>Total withdrawals</td>
                <td>{{userdetails.total_withdrawals  | currency }}</td>
              </tr>
              <tr>
                <td>No. of referrals</td>
                <td>{{ referrals.length }}</td>
              </tr>
              <tr>
                <td>Total account funding made</td>
                <td>{{userdetails.units_purchased  | currency }}</td>
              </tr>
              <tr>
                <td>No. of withdrawals</td>
                <td>{{userdetails.num_of_withdrawals  }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="ui tab" data-tab="transactions">
          <div class="ui compact segment">
            <p>Transactions</p>
          </div>
          <table class="ui blue striped celled table">
            <thead>
              <tr>
                <th>S/N</th>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Channel</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>

                <tr ng-repeat="transaction in user_transactions" ng-class="{'negative': transaction.trans_type == 'withdrawal'}">
                  <td>{{ $index + 1 }}</td>
                  <td>{{ transaction.created_at | timeAgo}}</td>
                  <td>{{ transaction.trans_type }}</td>
                  <td>{{ transaction.amount | currency }}</td>
                  <td>{{ transaction.channel }}</td>
                  <td>{{ transaction.status }}</td>
                </tr>

            </tbody>
          </table>
        </div>
        <div class="ui tab" data-tab="earnings">
          <div class="ui compact segment">
            <p>Earnings</p>
          </div>
          <table class="ui blue celled table">
            <thead>
              <tr>
                <th>S/N</th>
                <th>Game ID</th>
                <th>Date</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>

                <tr ng-repeat="earning in user_earnings">
                  <td>{{ $index + 1 }}</td>
                  <td>
                    <span ng-if="earning.game_id">{{ earning.game_id }}</span>
                    <span ng-if="!earning.game_id"> Referral Bonus </span>
                  </td>
                  <td>{{ earning.created_at | timeAgo}}</td>
                  <td>{{ earning.amount | currency }}</td>
                </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>


    <footer ng-include src="'angular/views/partials/footer.html'"></footer>

</div>
