<div id="main-controller" style="background: #fff;">
	<style>

		.pagination {
			display: inline-block;
			padding-left: 0;
			margin: 20px 0;
			border-radius: 4px;
		}
		.pagination>li {
			display: inline;
		}
		.pagination>li>a {
			position: relative;
			float: left;
			padding: 6px 12px;
			margin-left: -1px;
			line-height: 1.42857143;
			color: rgba(0,0,0,0.87);
			text-decoration: none;
			background-color: #fff;
			border: 1px solid #ddd;
		}
		.pagination>li:first-child>a {
			margin-left: 0;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
		.pagination>li:last-child>a {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 4px;
		}
		.pagination>li>a:focus,
		.pagination>li>a:hover {
			z-index: 2;
			color: #23527c;
			background-color: #eee;
			border-color: #ddd;
		}
	</style>
	<ng-include src="'angular/views/partials/menu.html'"></ng-include>
	<user-profile></user-profile>
	<section id="stats">
		<div class="grid-container">
			<div class="grid-15 tablet-grid-15">
				<div id="profile-menu" class="ui compact vertical labeled icon menu">
					<a class="item active" data-tab="profile">
						<i class="user icon"></i>
						My Data
					</a>
					<a class="item" data-tab="statistics">
						<i class="area chart icon"></i>
						Statistics
					</a>
					<a class="item" data-tab="transactions">
						<i class="visa icon"></i>
						Transactions
					</a>
					<a class="item" data-tab="earnings">
						<i class="dollar icon"></i>
						Earnings
					</a>
				</div>
			</div>
			<div class="grid-85 tablet-grid-85">
				<div class="ui active tab" data-tab="profile">
					<div class="ui compact segment">
						<p>My Data</p>
					</div>
					<table class="ui blue celled table">
						<tbody>
							<tr>
								<td>E-mail</td>
								<td>{{ userdetails.email || 'N/A' }}</td>
							</tr>
							<tr>
								<td>Phone Number</td>
								<td>{{ userdetails.phone1 || 'N/A' }}</td>
							</tr>
							<tr>
								<td>Phone Network</td>
								<td>{{ userdetails.network || 'N/A' | uppercase }}</td>
							</tr>
							<tr>
								<td>Address</td>
								<td>{{ userdetails.address || 'N/A' }}, {{ userdetails.town }}, {{ userdetails.state }}</td>
							</tr>
							<tr>
								<td>Facebook</td>
								<td>{{ userdetails.facebook || 'N/A' }}</td>
							</tr>
							<tr>
								<td>Instagram</td>
								<td>{{ userdetails.instagram || 'N/A' }}</td>
							</tr>
							<tr>
								<td>Twitter</td>
								<td>{{ userdetails.twitter || 'N/A' }}</td>
							</tr>
							<tr>
								<td>Telegram</td>
								<td>{{ userdetails.telegram || 'N/A' }}</td>
							</tr>
							<tr>
								<td>My bank</td>
								<td>{{ userdetails.bank || 'N/A' }}</td>
							</tr>
							<tr>
								<td>Account Name</td>
								<td>{{ userdetails.firstname }} {{ userdetails.lastname }}</td>
							</tr>
							<tr>
								<td>Account Number</td>
								<td>{{ userdetails.acct_no || 'N/A' }}</td>
							</tr>
							<tr>
								<td>Account Type</td>
								<td>{{ userdetails.acct_type || 'N/A' }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="ui tab " data-tab="statistics">
					<div class="ui compact segment">
						<p>Statistics</p>
					</div>
					<table class="ui blue celled table">
						<tbody>
							<tr>
								<td>No. of games played</td>
								<td>{{ _.size(user_games) }} ( {{ _.size(_.filter(user_games, ['payment_status', 'paid'])) * 35 | currency }} ) <span style="color:red">{{  _.size(_.filter(user_games, ['payment_status', 'nullified'])) }} games nullified</span></td>
							</tr>
							<tr>
								<td>Total earnings</td>
								<td>{{ _.sumBy(user_earnings, 'amount') | currency }}</td>
							</tr>
							<tr>
								<td>Untransferred earnings</td>
								<td>{{ _.sumBy(_.filter(user_earnings, ['transferred', false]), 'amount') | currency }}</td>
							</tr>
							<tr>
								<td>Transferred earnings</td>
								<td>{{ _.sumBy(_.filter(user_earnings, ['transferred', true]), 'amount') | currency }}</td>
							</tr>
							<tr>
								<td>Total amount withdrawn</td>
								<td>{{userdetails.total_withdrawals | currency }}</td>
							</tr>
							<tr>
								<td>No. of withdrawal requests</td>
								<td>{{ userdetails.num_of_withdrawals }}</td>
							</tr>
							<tr>
								<td>No. of referrals</td>
								<td>{{ referrals.length }}</td>
							</tr>
							<tr>
								<td>Total Referral Bonus</td>
								<td>{{ _.sumBy(_.filter(user_earnings, ['amount', 1]), 'amount') | currency }}</td>
							</tr>
							<tr ng-class="{'negative': userdetails.units_purchased < 0}">
								<td>Total wallet funding made</td>
								<!-- <td ng-if="userdetails.units_purchased > 0">{{ userdetails.units_purchased | currency }}</td>
											<td ng-if="userdetails.units_purchased < 0">₦ {{ userdetails.units_purchased }}.00</td> -->
								<td>{{ _.sumBy(_.filter(user_transactions, { 'status': 'completed', 'trans_type': 'wallet funding' }), 'amount') | currency }}</td>
							</tr>
							<tr ng-class="{'negative': userdetails.units_purchased < 0}">
								<td>Total no. of wallet funding</td>
								<td>{{ _.size(_.filter(user_transactions, { 'status': 'completed', 'trans_type': 'wallet funding' })) }}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="ui tab" data-tab="transactions">
					<div class="ui compact segment">
						<p>Transactions</p>
					</div>
					<table class="ui blue striped celled table">
						<thead>
							<tr>
								<th>S/N</th>
								<th>Date</th>
								<th>Type</th>
								<th>Amount</th>
								<th>Channel</th>
								<th>Status</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr dir-paginate="transaction in user_transactions | itemsPerPage:10" ng-class="['animate translate-i', {'negative': transaction.trans_type == 'withdrawal' || transaction.amount < 0}]"  pagination-id="trans">
								<td>{{ $index + 1 }}</td>
								<td>{{ transaction.created_at | timeAgo}}</td>
								<td>{{ transaction.trans_type }}</td>
								<td ng-if="transaction.amount > 0">{{ transaction.amount | currency }}</td>
								<td ng-if="transaction.amount < 0">₦ {{ transaction.amount }}.00</td>
								<td>{{ transaction.channel }}</td>
								<td>{{ transaction.status }}</td>
								<td><button class="ui tiny green button" ng-click="viewShareInfo(transaction.id)">Share</button></td>
							</tr>
						</tbody>
					</table>
					<dir-pagination-controls max-size="15" direction-links="true" boundary-links="true" class="flex-center" pagination-id="trans"></dir-pagination-controls>
				</div>
				<div class="ui tab" data-tab="earnings">
					<div class="ui compact segment">
						<p>My Earnings</p>
					</div>
					<table class="ui blue celled table">
						<thead>
							<tr>
								<th>S/N</th>
								<th>Game ID</th>
								<th>Score</th>
								<th>Position</th>
								<th>Finish Time</th>
								<th>Date</th>
								<th>Amount</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
                <tr dir-paginate="earning in user_earnings | itemsPerPage:10" class="animate translate-i"  pagination-id="earnings">

								<td>{{ $index + 1 }}</td>
								<td>
									<span ng-if="earning.game_id">{{ earning.game_id }}</span>
									<span ng-if="!earning.game_id"> Referral Bonus </span>
								</td>
								<td>{{ earning.user_game_session.score }}</td>
								<td>{{ earning.user_game_session.position }}</td>
								<td>{{ earning.user_game_session.ended_at }}</td>
								<td>{{ earning.created_at | timeAgo}}</td>
								<td>{{ earning.amount | currency }}</td>
								<td>
										<div class=" ui vertical compact button" view-top-ten-players style="cursor:pointer;" game="earning.game_id" ng-if="earning.game_id > 0">
												View Top Winners
									  </div>
								</td>
							</tr>
						</tbody>
					</table>
          <dir-pagination-controls max-size="15" direction-links="true" boundary-links="true" class="flex-center" pagination-id="earnings"></dir-pagination-controls>

				</div>
			</div>
		</div>
	</section>
	<footer ng-include src="'angular/views/partials/footer.html'"></footer>
</div>
