<div id="main-controller">

    <ng-include src="'angular/views/partials/menu.html'"></ng-include>

    <section id="intro">

      <div class="grid-container">
        <div class="grid-100 flex-center">

          <div class="ui circular blue segment">
            <h2 class="ui header huge blue dash_header">
              <i class="check icon" style="margin: 0 !important;"></i>
            </h2>
          </div>

        </div>

        <div class="grid-100 flex-center">
          <div class="ui statistic">
            <div class="text value">
              Congratulations
            </div>
            <div class="label">
              You are the owner of a brand new FastPlay24 account.
            </div>
            <br>
            <br>
            <div class="label">
              We just sent an email to you. Kindly check your inbox or spam folder. Fund your wallet with a minimum of N500 (via Paystack or Bank Deposit/Transfer) to start playing. Click the “fund wallet” button below.
            </div>
          </div>
        </div>

        <div class="grid-100 flex-center stack small" style="  justify-content: space-around;">
          <buy-units  class="massive"></buy-units>

          <a href="/dashboard" class="massive blue basic ui button" target="_self">
            Proceed to my Dashboard
          </a>

        </div>
      </div>
    </section>

</div>
